*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
body{
    margin-top: 60px;
    background-color: aqua;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-page{
    height: 600px;
    width: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
   background-color: whitesmoke;
   background-color: #1abc9c;
}

#btnsign{
    height: 50px;
    font-size: large;
}
#titile{
    color: white;
}
